@import (reference) "~seek-style-guide/theme";

.root {
  display: block;
  width: 100%;
  height: @grid-row-height * 5;
  padding: 0 @field-gutter-width;
  background: @sk-white;
  border: @field-border-width solid @sk-mid-gray-light;
  border-radius: @field-border-radius;
  color: @sk-charcoal;
  background-color: @sk-white;
  cursor: pointer;
}
