@import (reference) "~seek-style-guide/theme";

.root {
  .touchableText(@standard-type-scale);
  color: @sk-mid-gray-light;
  @media @desktop {
    .touchableText();
    color: @sk-mid-gray-medium;
  }
}

.link {
  .link();
  display: inline-block;
  @media @mobile {
    @bottom-offset: -13px;
    @border-width: 1px;
    color: @sk-white;
    box-shadow: inset 0 @bottom-offset 0 @sk-blue,
      inset 0 (@bottom-offset - @border-width) 0 @sk-white;
    &:hover {
      text-decoration: none;
      cursor: pointer;
    }
  }
}
