@import (reference) "../Footer.common.less";

.link {
  .footerLink();
}

.partnerCountry {
  .footerText();
}

.secondary {
  @media only screen @footer-vertical {
    display: none;
  }
}

.newBadge {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  color: @sk-white;
  background-color: @sk-purple;
  padding: 0 @row-height;
  border-radius: 9px;
  margin-left: 8px;
}
