@import (reference) "~seek-asia-style-guide/theme";

.root {
  padding-bottom: @grid-row-height * 8;
}

.component {
  position: relative;
  z-index: 1;
  &:not(.component_block) {
    padding: (@grid-row-height * 16) 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &.component_block {
    padding: (@grid-row-height * 10) 0;
    display: block;
  }
}

.optionsBlock {
  background: #e8e8e8;
}

.options {
  padding: (@grid-row-height * 2) @grid-gutter-width (@grid-row-height * 4) @grid-gutter-width;
  @media @desktop {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
  }
}

.optionItem {
  padding-bottom: @grid-row-height * 2;
  @media @desktop {
    display: flex;
    align-items: center;
    height: 100%;
    padding-bottom: 0;
    margin-right: @grid-base * 4;
  }
}

.select {
  background: @sk-white;
  border: 0;
  font-size: 18px;
  height: @grid-row-height * 8;
  width: 100%;
  margin: (@grid-row-height * 2) 0;
  @media @desktop {
    font-size: 14px;
    height: @grid-row-height * 6;
    width: auto;
    min-width: 130px;
  }
}

.codeBlock {
  background: @sk-white;
  overflow-x: auto;
  overflow-y: hidden;
  margin-bottom: @grid-row-height * 4;
  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
}

.symbolName {
  margin-bottom: @grid-row-height * 2;
}

.symbolElement {
  margin-bottom: @grid-row-height * 3;
}
