@import (reference) "~seek-style-guide/theme";

.root {
  display: inline-block;
}

.label {
  cursor: pointer;
  .touchableText(1.4);
  display: flex;
  align-items: center;
}

.input {
  display: none;
}

.tickBox {
  width: @grid-row-height * 3;
  height: @grid-row-height * 3;
  border: @field-border-width solid @sk-mid-gray-light;
  border-radius: @field-border-radius;
  margin-right: @field-gutter-width;

  .checked & {
    background: url('!!url-loader!./checklist.svg') 0 0 no-repeat;
    background-size: 80%;
    background-position: center;
  }
}
