@import (reference) "~seek-style-guide/theme";

.root {
  display: inline-block;
}

.input {
  opacity: 0;
  position: absolute;
}

.label {
  cursor: pointer;
  .touchableText(1.4);
  display: flex;
  align-items: center;
}

.checkMark {
  width: @grid-row-height * 3;
  height: @grid-row-height * 3;
  border: @field-border-width solid @sk-mid-gray-light;
  border-radius: @field-border-radius;
  margin-right: @field-gutter-width;
  padding: 3px;
  display: block;
  fill: @sk-white;

  .input:not([readonly]):not([disabled]):focus + .label &,
  .rootFocus & {
    outline: none;
    border-color: transparent;
    .focus();
  }
}

.checked {
  fill: @sk-pink;
}
