@import (reference) "~seek-style-guide/theme";

.root {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: @sk-white;
  padding: (@grid-row-height * 6) 0;

  > * {
    flex: 1 0 100%;
  }
}

.layout {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
