@import (reference) '../../../../theme';

.container {
  display: flex;
  flex-wrap: wrap;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 25%;
  width: 25%;
  text-align: center;

  @media @mobile {
    max-width: 50%;
    width: 50%;
  }
}

.swatch {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid @sk-gray-medium;
}
