{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-css-modules",
    "stylelint-config-prettier"
  ],
  "rules": {
    "number-leading-zero": "always",
    "color-hex-length": "long",
    "at-rule-no-unknown": [true, {
      "ignoreAtRules": ["rules"]
    }],
    "selector-type-no-unknown": [true, {
      "ignoreTypes": ["/^__/"]
    }],
    "no-descending-specificity": null,
    "declaration-empty-line-before": null
  }
}
