.CatchErrors__root___pWG_d {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #e1e1e1;
  overflow: auto;
}

.Preview__root___3YBFl {
  width: 100%;
  height: 100%;
  overflow: auto;
  white-space: nowrap;
  padding: 18px 0;
}
.Preview__frameContainer___3D1uZ {
  display: inline-block;
  height: 100%;
  margin-right: 18px;
  border: 12px solid #05142d;
  border-radius: 6px;
}
.Preview__frameContainer___3D1uZ:first-child {
  margin-left: 18px;
}
.Preview__frame___3U0HN {
  height: 100%;
  border-radius: 3px;
  background: #05142d;
}
.Preview__frameContents___8Etlt {
  background: #05142d;
}

.Sandbox__previewContainer___1j1gL {
  position: fixed;
  top: 72px;
  bottom: 30vh;
  left: 0;
  right: 0;
  background: #071e44;
}
.Sandbox__editorContainer___2ayaD {
  position: fixed;
  height: 30vh;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.Sandbox__gutter___1o76I {
  width: 15px;
}
.Sandbox__marker___21uq_ {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: rgba(152, 186, 244, 0.5);
  position: relative;
  top: 10px;
  cursor: pointer;
}
.ReactCodeMirror {
  height: 100%;
}
.CodeMirror {
  height: 100%;
  padding: 0 18px;
  font-family: Source Code Pro,
      Firacode,
      Hasklig,
      Menlo,
      monospace;
}
.CodeMirror pre,
.CodeMirror-linenumber {
  font-size: 18px;
  padding: 2px 0;
  line-height: 26px;
}
.CodeMirror-linenumber {
  padding-right: 40px;
}
.cm-s-material.CodeMirror {
  color: #ffffff;
}
.cm-s-material.CodeMirror,
.cm-s-material .CodeMirror-gutters {
  background: #071e44;
}
.cm-s-material .CodeMirror-linenumber {
  color: rgba(152, 186, 244, 0.5);
}
.cm-s-material .cm-tag {
  color: #fe9ccf;
}
.cm-s-material .cm-attribute {
  color: #98baf4;
}
.cm-s-material .cm-string {
  color: #c6d9f9;
}

