@import (reference) "~seek-asia-style-guide/theme";

@bgcolor: hsl(210, 87%, 18%); //#062e56;
@bgcolor-light: hsl(210, 87%, 28%);
@bgcolor-dark: hsl(210, 87%, 8%);
@link-color: hsl(198, 95%, 67%); //#59cbfb;
@gutter: 15px;
@size-tablet: 768px;
@size-desktop: 992px;
@size-db-large-desktop: 1024px;

*, :after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// bs3 start
dl {
  margin-top: 0;
  margin-bottom: 20px;
}
dt {
  font-weight: 700;
  font-size: .875em;
}
dd {
  margin-left: 0;
  font-size: .75em;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.row,
.container {
  &:before,
  &:after {
    clear: both;
    content: " ";
    display: table;
  }
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @media (min-width: @size-tablet) {
    width: 750px;
  }
  @media (min-width: @size-desktop) {
    width: 970px;
  }
  @media (min-width: @size-db-large-desktop) {
    width: 1008px;
  }
}
.col-xs-6,
.col-xs-12,
.col-sm-6,
.col-sm-12,
.col-md-4,
.col-md-10,
.col-md-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-6,
.col-xs-12 {
  float: left;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-pull-6 {
  right: 50%;
}

@media (min-width: 768px) {
  .col-sm-6,
  .col-sm-12 {
    float: left;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-pull-0 {
    right: auto;
  }
}
@media (min-width: 992px) {
  .col-md-4,
  .col-md-10,
  .col-md-12 {
    float: left;
  }

  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
}
.hidden-xs {
  @media (max-width: 767px) {
    display: none !important;
  }
}
// bs3 end

label {
  cursor: pointer;
}

footer {
  font-family: 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Noto Sans', Ubuntu, 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px; // reset for fallback font size
  font-size: 1rem; // reset for scalable general browser default
  line-height: 1.33333333;
  position: relative;
  color: white;
  margin-top: @gutter;
  width: 100%;

  a,
  a:hover {
    color: white;
  }

  dt {
    color: @link-color;
  }

  dd {
    margin-top: 1.25rem;
  }

  &.is-full:before {
    // zigzag decoration
    display: block;
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    height: 12px;
    content: "";
    background: linear-gradient(45deg, @bgcolor 6px, transparent 0),
      linear-gradient(-45deg, @bgcolor 6px, transparent 0);
    background-repeat: repeat-x;
    background-position: left top;
    background-size: 12px 12.001px; // LESS bug if we use combined '12px', must set separated values to make it works
  }
}

.footer--full {
  background-color: @bgcolor;
  display: none;
  .container {
    padding-top: 0.75rem;
    padding-bottom: 0.25rem;
  }
  .is-full & {
    display: block;
    padding-top: @gutter * 3;
  }
}

.footer {
  background-color: #0b4a84;
  color: white;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;

  @media (min-width: @size-tablet) {
    text-align: left;
  }

  .container {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    justify-content: space-between;
    position: relative;

    &:before {
      position: absolute;
      top: -0.25rem;
      left: @gutter;
      right: @gutter;
      background-color: #85a4c1;
      content: "";
      display: block;
      height: 0.5rem;

      .is-full & {
        display: none;
      }
    }
    &:after {
      content: none;
    }
    @media (min-width: @size-tablet) {
      flex-direction: row;

      &:before {
        left: 0;
        right: 0;
      }
    }
  }
  .is-full & {
    background-color: black;
    color: #999;
  }
}

.footer-logo {
  margin-top: @gutter * 1.5;
  margin-bottom: 12px;

  a {
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    text-indent: -5000px;
    height: 76px;
  }
}
.footer-contact-info {
  color: #59cbfb;
  font-size: .75em;
  margin: 0;

  em {
    color: #fff;
    font-style: normal;
    white-space: nowrap;
  }
  a {
    &, &:hover {
      color: currentColor;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}
.footer-social {
  padding-left: 0;
  margin: 1rem 0 0;

  li {
    display: inline;
    line-height: 1;

    &:not(:last-child) {
      margin-right: .5em;
    }
  }
}
svg {
  fill: #77CAF1;

  &:not(:root) {
    overflow: hidden;
  }
}
.social-icon {
  display: inline-block;
  margin-right: 0.25em;
  height: 26px;
  width: 26px;
  text-indent: -5000px;
}
.social-facebook {
  background-position: 0 0;
}
.social-twitter {
  background-position: 0 -30px;
}
.social-googleplus {
  background-position: 0 -60px;
}
.social-mobileapp {
  background-position: 0 -90px;
}
.social-linkedin {
  background-position: 0 -120px;
}
.social-weibo {
  background-position: 0 -150px;
}
.social-blogger {
  background-position: 0 -180px;
}
.social-feed {
  background-position: 0 -210px;
}
.social-youtube{
  background-position: 0 -240px;
}
.footer-list {
  margin: 15px;
  position: static;

  a {
    &, &:hover {
      color: #fff;
    }
    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }

  @media (min-width: 768px) {
    &:not(.first) {
      &:before {
        position: absolute;
        top: 0;
        left: -6px;
        display: inline-block;
        width: 2px;
        height: 200px;
        content: " ";
        border-right: 1px solid @bgcolor-light;
        border-left: 1px solid @bgcolor-dark;
      }
    }
  }
}
.footer-list-horizontal {
  display: inline-block;
  line-height: 1.333333;
  text-align: center;

  dt,
  dd {
    display: inline-block;
    margin: 0 0.5em 0 0;
  }
  dt,
  dd:not(:last-child) {
    &:after {
      margin-left: 0.5em;
      content: "|";
      color: @link-color;
      font-weight: normal;
    }
  }
}
.copyright,
.base-links {
  font-size: .75em;
  padding: 0.5rem 1rem;

  a {
    display: inline-block;

    &:not(:first-child) {
      margin-left: 1.4em;
      position: relative;

      &:before {
        position: absolute;
        top: 0;
        left: -0.8em;
        content: "|";
      }
    }
  }

  .is-full & {
    padding-left: 0;
    padding-right: 0;
    a {
      &,
      &:hover {
        color: #999;
      }
    }
  }
}
