@import (reference) "~seek-style-guide/theme";

.input {
  width: 300px;
}

.sandboxContainer {
  background-color: @sk-white;
}

.sandbox {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sandboxPreview {
  min-height: auto;
}

.gridContainer {
  display: flex;
}

.section {
  flex: 1;
  width: 50%;

  &:not(:last-child) {
    margin-right: @grid-gutter-width * 3;
  }
}

.messageHeader {
  .subheadingText();
  text-align: center;
  position: absolute;
  margin-top: -30px;
}
