@import (reference) "~seek-style-guide/theme";

@gutter-breakpoint: %(~"only screen and (min-width: %s)", (@grid-container-width + (@grid-gutter-width * 2)));

.root {
  padding: (@grid-row-height * 2) @grid-gutter-width;
  @media @gutter-breakpoint {
    padding-left: (@grid-gutter-width * 1.5);
    padding-right: (@grid-gutter-width * 1.5);
  }

  &.pullout {
    margin: 0 (-@grid-gutter-width);
    @media @gutter-breakpoint {
      margin: 0 (-@grid-gutter-width * 1.5);
    }
  }

  &.slim {
    padding-top: 0;
    padding-bottom: 0;
  }

  &.positive {
    color: @sk-positive;

    &.primary {
      background-color: @sk-positive;
      color: @sk-white;
    }

    &.secondary {
      background-color: @sk-positive-light;
    }
  }

  &.info {
    color: @sk-info;

    &.primary {
      background-color: @sk-info;
      color: @sk-white;
    }

    &.secondary {
      background-color: @sk-info-light;
    }
  }

  &.critical {
    color: @sk-critical;

    &.primary,
    &.secondary {
      background-color: @sk-critical-light;
      color: @sk-critical;
    }
  }

  &.help {
    color: @sk-help;

    &.primary,
    &.secondary {
      background-color: @sk-help-light;
      color: @sk-help;
    }
  }
}

.header {
  padding-top: (@grid-row-height * 3);
  padding-bottom: (@grid-row-height * 3);
  @media @desktop {
    padding-top: (@grid-row-height * 4);
    padding-bottom: (@grid-row-height * 4);
  }
}
