@import (reference) "~seek-style-guide/theme";

.root {
  padding: (@grid-row-height * 2) @grid-gutter-width;
  @media only screen and (min-width: (@grid-container-width + (@grid-gutter-width * 2))) {
    padding-left: (@grid-gutter-width * 1.5);
    padding-right: (@grid-gutter-width * 1.5);
  }
}

.header {
  padding-top: (@grid-row-height * 3);
  padding-bottom: (@grid-row-height * 3);
  .aboveSmallDevice({
    padding-top: (@grid-row-height * 4);
    padding-bottom: (@grid-row-height * 4);
  })
}
