@import (reference) "~seek-style-guide/theme";

@elements-spacing: 0.3em;

.root {
  display: flex;
}

.star {
  color: @sk-orange;
  display: inline;
  margin-right: @elements-spacing;

  &:last-child {
    margin-right: 0;
  }
}

.iconSize(@typography-scale, @icon-scale: 0.7) {
  @icon-size: @base-font-size * @typography-scale * 1px * @icon-scale;

  width: @icon-size;
  height: @icon-size;
}

.textRating {
  margin-left: @elements-spacing;
}

.heading {
  .iconSize(@heading-type-scale)
}

.superstandard {
  .iconSize(@superstandard-type-scale)
}

.substandard {
  .iconSize(@substandard-type-scale)
}
