@import (reference) "~seek-style-guide/theme";

.root {
  display: flex;
}

.star {
  color: @sk-orange;
  display: inline;
  margin-right: 0.3em;

  &:last-child {
    margin-right: 0;
  }
}

.iconSize(@typography-scale) {
  @icon-size: @base-font-size * @typography-scale * 1px * 0.7;

  width: @icon-size;
  height: @icon-size;
}

.textRating {
  margin-left: 0.3em;
}

.heading {
  .iconSize(@heading-type-scale)
}

.superstandard {
  .iconSize(@superstandard-type-scale)
}

.substandard {
  .iconSize(@substandard-type-scale)
}
