@import (reference) "~seek-style-guide/theme";

@elements-spacing: 0.3em;
@icon-scale-ratio: 0.7;

.root {
  display: flex;
}

.star {
  color: @sk-orange;
  display: inline;
  margin-right: @elements-spacing;

  &:last-child {
    margin-right: 0;
  }
}

.textRating {
  margin-left: @elements-spacing;
}

.headingStar.scaledDownSvg {
  .iconSize(@heading-type-scale, @icon-scale-ratio);
}

.superstandardStar.scaledDownSvg {
  .iconSize(@superstandard-type-scale, @icon-scale-ratio);
}

.substandardStar.scaledDownSvg {
  .iconSize(@substandard-type-scale, @icon-scale-ratio);
}

