@import (reference) '~seek-style-guide/theme';

@borderHeight: 1px;
@staticTagHeight: @row-height * 5;
@interactiveTagHeight: @row-height * 8;

.staticPill {
  .rawText(@interaction-type-scale);

  align-items: center;
  display: inline-flex;
  color: @sk-charcoal;
  background: @sk-gray-light;
  border-radius: @staticTagHeight / 2;
  height: @staticTagHeight;
  line-height: @staticTagHeight;
  padding: 0 15px;
  margin: @row-height 15px @row-height 0;
}

.interactivePill {
  align-items: center;
  display: inline-flex;
  font-size: 18px;
  color: @sk-white;
  background: @sk-form-accent;
  border-radius: 24px;
  height: @interactiveTagHeight;
  line-height: @interactiveTagHeight;
  padding: 0 24px;
  margin: @row-height 10px @row-height 0;
  overflow: hidden;
}

.removeButton {
  margin: 0 0 0 10px;
  padding: 0;
  color: @sk-white;
  background: transparent;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  border: none;
  cursor: pointer;
  width: 16px;

  &:focus {
    .focus();
  }
}

.removeIcon {
  height: @interactiveTagHeight;
}

.removeSvg {
  height: 100%;
}
