@import (reference) "~seek-style-guide/theme";

.aboveSmallDevice{
  .root {
    display: flex;
  }

  .reverse {
    flex-direction: row-reverse;
  }

  .content {
    flex: 1 1;
  }

  .aside {
    padding-left: @grid-gutter-width;
    flex-grow: 0;
    flex-shrink: 0;
  }
}
