@import (reference) "~seek-style-guide/theme";

.root {
  .aboveSmallDevice({
    display: flex;
  });
}

.reverse {
  .aboveSmallDevice({
    flex-direction: row-reverse;
  });
}

.content {
  .aboveSmallDevice({
    flex: 1 1;
  });
}

.aside {
  .aboveSmallDevice({
    padding-left: @grid-gutter-width;
    flex-grow: 0;
    flex-shrink: 0;
  });
}
