@import (reference) "~seek-style-guide/theme";
@checkbox-size: @row-height * 5;
@touchable-margin: (@touchableTextHeight - @checkbox-size) / 2;

.activeFocusReset() {
  .input:not([readonly]):not([disabled]):focus + .label &,
  .input:not([readonly]):not([disabled]):active + .label & {
    outline: none;
    border-color: transparent;
    .focus();
  }
}

.root {
  display: inline-block;
  position: relative;
}

.input {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.input_isCheckbox {
  width: @checkbox-size;
  height: @checkbox-size;
  margin: @touchable-margin 0 0 0;
}

.input_isButton {
  width: 100%;
  height: @touchableTextHeight;
  margin: 0;
}

.label {
  display: flex;
  cursor: pointer;
  min-height: @touchableTextHeight;

  :global(*) {
    pointer-events: none;
  }

  .input:checked + &,
  .input:checked + & .labelText {
    font-weight: @sk-bold;
  }
}

.labelText {
  @media @desktop {
    padding: (
        ((@interaction-type-row-span - @standard-type-row-span) / 2) *
          @row-height
      )
      0;
  }
  @media @mobile {
    padding: (
        ((@interaction-type-row-span - @standard-type-row-span-mobile) / 2) *
          @row-height
      )
      0;
  }
}

.checkbox {
  .activeFocusReset();

  background-color: @sk-white;
  width: @checkbox-size;
  height: @checkbox-size;
  flex: 0 0 @checkbox-size;
  border: @field-border-width solid @sk-mid-gray-light;
  border-radius: @field-border-radius;
  margin-top: @touchable-margin;
  margin-right: @field-gutter-width;
  position: relative;

  .invalid & {
    border-color: transparent;
    box-shadow: 0 0 0 @field-border-width @sk-pink;
  }
}

.checkMark {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: @field-border-radius;
}

.checkMarkSvg {
  width: 18px;
  height: 18px;
  transition: opacity 0.2s ease, @spring-transition;
  transform-origin: 50% 50%;
  opacity: 0;

  .input:active + .label & {
    transform: scale(0.9);
  }

  &.checkMarkSvg_isSelected {
    fill: @sk-form-accent;

    .input:checked + .label & {
      opacity: 1;
    }
  }

  &.checkMarkSvg_isHover {
    fill: @sk-gray-light;

    .input:hover:not(:checked) + .label & {
      opacity: 1;
    }
  }
}

.button {
  .activeFocusReset();
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 @field-gutter-width;
  white-space: nowrap;
  overflow: hidden;
  background-color: @sk-gray-light;
  color: @sk-charcoal;
  border: 1px solid @sk-mid-gray-light;
  border-radius: 2px;
  cursor: pointer;

  .input:checked + .label & {
    font-weight: @sk-bold;
    background-color: @sk-white;
    border-bottom: 1px solid @sk-pink;
  }
}
