@import (reference) "~seek-style-guide/theme";

@headerHeightDesktop: @row-height * 13;
@headerHeightMobile: @row-height * 11;

.root {
  width: 100%;
  @media @mobile {
    position: relative;
  }
}

.content {
  background-color: @sk-blue;
  position: relative;
  z-index: @z-index-header;
  display: flex;
  flex-flow: row wrap;
  @media @desktop {
    background-color: @sk-white;
    justify-content: center;
  }
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 (@gutter-width / 2);
  max-width: @container-width + @gutter-width;
  @media @mobile {
    height: @headerHeightMobile;
  }
  @media @desktop {
    order: 1;
    height: @headerHeightDesktop;
  }
  @media print {
    justify-content: flex-start;
  }
}

.topBanner {
  order: 0;
  width: 100%;
}

.navigation {
  @media @mobile {
    display: none;
  }
  @media @desktop {
    flex: 1 0 100%;
    order: 2;
  }
}

.logo {
  position: relative;
}

.logoNote {
  .standardText();
  margin-left: 10px;
  margin-bottom: 5px;
}

.logoSvg {
  height: 39px;
  width: 105px;
  @media @desktop {
    height: 51px;
    width: 129px;
  }
}

.logoLink {
  position: absolute;
  top: 0;
  text-indent: 100%;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.userWrapper {
  display: flex;
  align-items: center;
}

.user {
  display: flex;
  align-items: center;
  @media @desktop {
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
}

.user_isReady {
  @media @desktop {
    pointer-events: auto;
    opacity: 1;
  }
}

.userAccountWrapper {
  @media @desktop {
    .user_isUnauthenticated & {
      display: none;
    }
  }
}

.signInRegisterWrapper {
  @media @mobile {
    display: none;
  }
  @media @desktop {
    .user_isAuthenticated & {
      display: none;
    }
  }
}

.employerSite {
  display: none;
  white-space: nowrap;
  @media @desktop {
    display: block;
  }
}

.employerLink {
  .touchableText();
  .link();
  display: inline-block;
  white-space: nowrap;
}

.divider {
  @divider-width: 1px;
  @divider-container-width: 35px;
  @half-width: (@divider-container-width - @divider-width) / 2;
  margin-left: ceil(@half-width);
  margin-right: floor(@half-width);
  width: @divider-width;
  height: 14px;
  border-right: @divider-width solid @sk-mid-gray-dark;
  display: none;

  @media @desktop {
    display: inline-block;
  }
}
