@import (reference) '~seek-style-guide/theme';

.content {
  position: relative;
  display: block;
  word-break: break-word;
  white-space: pre-wrap;
}

.fadeOut {
  position: absolute;
  height: (@row-height * 4);
  width: 100%;
  bottom: 0;
}

.card {
  background:
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      @sk-white 100%
    );
}

.body {
  background:
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      @sk-background 100%
    );
}

.chevron {
  margin-left: 5px;
}
