@import (reference) "~seek-style-guide/theme";

.fadeOutBackground(@fadeColor: @sk-card-bg) {
  background: linear-gradient(
    to bottom,
    fade(@fadeColor, 0) 0%,
    @fadeColor 100%
  );
}

.content {
  position: relative;
  display: block;
  word-break: break-word;
  white-space: pre-wrap;
}

.fadeOut {
  position: absolute;
  height: (@row-height * 4);
  width: 100%;
  bottom: 0;
}

.card {
  .fadeOutBackground(@sk-card-bg);
}

.body {
  .fadeOutBackground(@sk-background);
}

.gray-lightest {
  .fadeOutBackground(@sk-gray-lightest);
}

.showMore {
  padding-bottom: 3 * @row-height;
  font-weight: @sk-medium !important;
}
