@import (reference) "~seek-style-guide/theme";

.root {
  display: inline-block;
}

.svg {
  fill: currentColor;
  width: 16px;
  height: 16px;
}

.headingSvg {
  .iconSize(@heading-type-scale);
}

.superstandardSvg {
  .iconSize(@superstandard-type-scale);
}

.substandardSvg {
  .iconSize(@substandard-type-scale);
}
