@import (reference) "~seek-style-guide/theme";
@star-scale: 1;

.root {
  display: inline-block;
}

.svg {
  fill: currentColor;
  width: 16px;
  height: 16px;
}

.heroSvg( @icon-scale ) {
  .iconSize( @typography-scale: @hero-type-scale, @typography-scale-mobile: @hero-type-scale-mobile, @icon-scale);
}

.heroSvgStar {
  .heroSvg(@icon-scale: @star-scale);
}

.headlineSvg( @icon-scale ) {
  .iconSize( @typography-scale: @headline-type-scale, @typography-scale-mobile: @headline-type-scale-mobile, @icon-scale);
}

.headlineSvgStar {
  .headlineSvg( @icon-scale: @star-scale);
}

.subheadingSvg ( @icon-scale ) {
  .iconSize( @typography-scale: @subheading-type-scale, @typography-scale-mobile: @subheading-type-scale-mobile, @icon-scale);
}

.subheadingSvgStar {
  .subheadingSvg( @icon-scale: @star-scale );
}

.headingSvg ( @icon-scale ) {
  .iconSize( @typography-scale: @heading-type-scale, @typography-scale-mobile: @heading-type-scale-mobile, @icon-scale);
}

.headingSvgStar {
  .headingSvg( @icon-scale: @star-scale );
}

.standardSvg ( @icon-scale ) {
  .iconSize( @typography-scale: @standard-type-scale, @typography-scale-mobile: @standard-type-scale-mobile, @icon-scale);
}

.standardSvgStar {
  .standardSvg( @icon-scale: @star-scale );
}

.smallSvg ( @icon-scale ) {
  .iconSize(@small-type-scale, @icon-scale);
}

.smallSvgStar {
  .smallSvg( @icon-scale: @star-scale);
}

.interactionSvg {
  .iconSize(@interaction-type-scale);
}
