@import (reference) "~seek-style-guide/theme";

.root {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  color: @sk-black;

  &:before {
    content: '';
    position: absolute;
    top: -(@grid-row-height * 2);
    bottom: -(@grid-row-height * 2);
    left: -(@grid-gutter-width * 1.5);
    right: -(@grid-gutter-width * 1.5);
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.15);
    opacity: 0;
    transition: opacity .3s ease;
  }
}

.root:hover:before {
  opacity: 1;
}

.heroItem       { .heroText();       }
.headlineItem   { .headlineText();   }

.bold {
  font-weight: @sk-bold;
}
