@import (reference) "~seek-style-guide/theme";

.link {
  .link();
}

@chevron-spacing: 4px;

.chevronRightSide {
  margin-left: @chevron-spacing;
}

.chevronLeftSide {
  margin-right: @chevron-spacing;
}
