// Breakpoint
@responsive-breakpoint: 740px;

@mobile: %(~"only screen and (max-width: %s)", (@responsive-breakpoint - 1));

@desktop: %(~"only screen and (min-width: %s)", @responsive-breakpoint);

// DEPRECATED: Use @mobile variable instead.
.smallDeviceOnly(@rules) {
  @media @mobile {
    @rules();
  }
}

// DEPRECATED: Use @desktop variable instead.
.aboveSmallDevice(@rules) {
  @media @desktop {
    @rules();
  }
}
