@row-height: 6px;
@gutter-width: 20px;

@column-width: 60px;
@container-width: 940px;

// Legacy grid variables for backwards compatibility
@grid-row-height: 9px;
@grid-gutter-width: 20px;

@grid-column-width: 60px;
@grid-container-width: 940px;
