@import (reference) "~seek-style-guide/theme";

.root {
  display: flex;
  margin-top: (@grid-row-height * 4);
  justify-content: space-between;
  width: 100%;
}

.icon {
  fill: @sk-highlight;
  width: 36px;
  height: 36px;
}
