@import (reference) "~seek-style-guide/theme";

.root {
  width: 100%;
  padding: 0 (@gutter-width / 2);
  background-color: @sk-background;
}

.content {
  position: relative;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.locale {
  position: absolute;
  right: 0;
}
