@import (reference) "~seek-style-guide/theme";

.root {
  background-color: @sk-white;
}

.layout {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: (@grid-row-height * 3) 0 (@grid-row-height * 2);

  .aboveSmallDevice({
    padding: (@grid-row-height * 5) 0 (@grid-row-height * 4);
  })
}
