@import (reference) "~seek-style-guide/theme";
@import (reference) "../Header.less";

.root {
  @media @desktop {
    @border-width: 1px;
    background-color: @sk-white;
    border: @border-width solid @sk-mid-gray-light;
    border-radius: 2px;
    padding: ((@row-height * 2) - @border-width) 0;
  }
}

.activeTab {
  @media @mobile {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 4px;
      background-color: @sk-white;
    }
  }
}

.item {
  .touchableText();
  display: flex;
  align-items: center;
  padding: 0 @gutter-width;
  white-space: nowrap;
  color: @sk-white;
  text-decoration: none;
  justify-content: flex-end;
  user-select: none;
  &:hover {
    background-color: darken(@sk-blue, 5%);
    @media @desktop {
      color: @sk-black;
      background-color: @sk-gray-light;
    }
  }
  @media @desktop {
    .touchableText(@standard-type-scale);
    justify-content: space-between;
    color: @sk-black;
    padding: 0 (@gutter-width * 2);
  }
}

.itemLink {
  .touchableText();
  color: currentColor;
  text-decoration: none;
}

.secondaryItemText {
  opacity: 0.5;
}

.menuSeparator {
  @separator-height: 1px;
  height: @separator-height;
  border: 0;
  background-color: @sk-mid-gray-light;
  margin: @row-height (@gutter-width / 2) (@row-height - @separator-height);
}

.icon {
  margin-left: @gutter-width;
  width: @gutter-width;
  text-align: center;
  @media @mobile {
    margin-left: (@gutter-width / 2);
  }
}

.icon.jobSearch {
  color: @sk-teal;
}
.icon.profile {
  color: @sk-purple;
}
.icon.saveJobs {
  color: @sk-pink;
}

.icon.saveSearches {
  color: @sk-blue-lighter;
  @media @mobile {
    color: @sk-teal;
  }
}

.icon.recommendedJobs {
  color: @sk-recommended-jobs;
}

.icon.appliedJobs {
  color: @sk-applied-jobs;
}

.crSvg {
  width: 14px;
  height: 14px;
  margin-bottom: -1px;
  stroke: @sk-orange;
}

.iconSpacer {
  margin-left: (@gutter-width / 2);
  width: @gutter-width;
}

.newBadge {
  margin-right: 5px;
}

.iconSvg {
  width: 15px;
  height: 15px;
  // Begin bold icon hacks
  @media @mobile {
    overflow: visible;
    :global(path) {
      stroke: currentColor;
      stroke-width: 70px;
    }
  }
  // End bold icon hacks
}

.firstItemInGroup {
  @padding-height: @row-height * 3;
  @media @mobile {
    padding-top: @padding-height;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: ceil(@padding-height / 2);
      width: 100%;
      height: 1px;
      background: @sk-white;
      opacity: 0.2;
    }
  }
}

.pendingAuth {
  opacity: 0.5;
  position: relative;
  top: -3px;
  &:hover {
    background-color: transparent;
  }
}
