@import (reference) "~seek-style-guide/theme";

.root {
  background-color: @sk-blue;
  padding: @grid-row-height 0;

  .aboveSmallDevice({
    @border-width: 1px;

    background-color: @sk-white;
    border: @border-width solid @sk-mid-gray-light;
    border-radius: 2px;
    padding: (@grid-row-height - @border-width) 0;
  });
}

.item {
  .touchableText();
  display: flex;
  padding: 0 @grid-gutter-width;
  white-space: nowrap;
  color: @sk-white;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  user-select: none;

  &:hover {
    background-color: darken(@sk-blue, 5%);

    .aboveSmallDevice({
      color: @sk-black;
      background-color: @sk-mid-gray-light;
    });
  }

  .aboveSmallDevice({
    .touchableText(@standard-type-scale);
    color: @sk-black;
    padding: 0 (@grid-gutter-width * 2);
  });
}

.subItem {
  .aboveSmallDevice({
    background-color: @sk-gray-light;
  });
}

.icon {
  margin-left: @grid-gutter-width;
  width: @grid-gutter-width;
  text-align: center;

  .smallDeviceOnly({
    display: none;
  });
}

.iconSvg {
  width: 14px;
  height: 14px;
}
