@import (reference) "~seek-style-guide/theme";
@import (reference) "../Header.less";

.bell {
  padding: 15px 0;
  position: relative;
  top: 1px;
  color: white;

  @media @desktop {
    color: @sk-black;
    display: inline-block;
  }
}

.bellDivider {
  .divider();
  display: inline-block;

  @media @mobile {
    margin-right: 0;
    border-right: @divider-width solid white;
    opacity: 0.2;
  }
}
