@import (reference) "~seek-style-guide/theme";
@import (reference) "../Header.less";

.bell {
  @bell-touch-area: @interaction-type-row-span * @row-height;

  height: @bell-touch-area;
  width: @bell-touch-area;
  display: flex;
  align-items: center;
  justify-content: center;
  color: @sk-white;

  @media @desktop {
    color: @sk-black;
  }
}

.bellDivider {
  .divider();
  margin-left: 1px; // To balance with space between user name
  display: inline-block; // Override display:none from Header usage

  @media @mobile {
    border-color: @sk-white;
    opacity: 0.2;
  }
}
