@import (reference) "~seek-style-guide/theme";

@toggle-height: (@row-height * 5);
@toggle-slider-width: 48px;
@toggle-slider-height: (@row-height * 4);
@toggle-button-border: 1px;
@toggle-radius: (@toggle-height / 2);
@slide-distance: @toggle-slider-width - (@toggle-height - @toggle-button-border);
@anticipation-distance: 4px;

.root {
  min-height: @touchableTextHeight;
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.switch {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.input {
  opacity: 0;
  position: absolute;
  margin: 0;
  width: @toggle-slider-width;
  height: @toggle-height;
}

.labelText {
  .rawText(@standard-type-scale);
  line-height: @toggle-height;

  .input:checked ~ .switch & {
    font-weight: @sk-bold;
  }
}

.inputLeft {
  left: auto;
  right: 0;
}

.labelLeft {
  margin-right: @gutter-width / 2;
}

.labelRight {
  margin-left: @gutter-width / 2;
}

.slideContainer {
  width: @toggle-slider-width;
  height: @toggle-height;
  position: relative;
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
}

.slider {
  width: @toggle-slider-width;
  height: @toggle-slider-height;
  border-radius: @toggle-radius;
  background-color: @sk-mid-gray-light;
  position: absolute;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: @sk-form-accent;
    border-radius: @toggle-radius;
    transition: transform 0.3s ease;
    transform: translateX(-(@slide-distance + @anticipation-distance));
  }

  .input:checked ~ .switch &::before {
    transform: none;
  }
}

.slideButton {
  transition: transform 0.3s ease;
  height: @toggle-height;
  width: @toggle-height;
  border-radius: 50%;
  background-color: @sk-white;
  border: @toggle-button-border solid @sk-mid-gray-light;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transform: translateX(-@toggle-button-border);

  .input:active ~ .switch & {
    transform: translateX(-@anticipation-distance);
  }
  .input:checked ~ .switch & {
    transform: translateX(@slide-distance);
  }
  .input:checked:active ~ .switch & {
    transform: translateX(@slide-distance + @anticipation-distance);
  }
  .input:not([readonly]):not([disabled]):focus ~ .switch & {
    .focus();
    border-radius: @toggle-radius;
  }
}

.svg {
  fill: @sk-form-accent;
  opacity: 0;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
  transform: rotate(-25deg);

  .input:checked:active ~ .switch & {
    transform: rotate(6deg);
  }
  .input:checked ~ .switch & {
    transform: none;
    opacity: 1;
  }
}
