@import (reference) "~seek-style-guide/theme";

.root {
  display: flex;
  // flex-direction: column;
  align-items: center;
  // justify-content: center;
}

.drop {
  border-radius: 50%;
}

.hex {
  .standardText();
  color: @sk-mid-grey-dark;
  margin-left: @grid-gutter-width;
  margin-bottom: @grid-row-height;
  text-align: center;
}
