@import (reference) "~seek-style-guide/theme";

.root {
  display: flex;
  align-items: center;
}

.drop {
  border-radius: 50%;
}

.hex {
  .rawText();
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: @sk-mid-grey-dark;
  margin-left: @grid-gutter-width;
  > * {
    line-height: (@standard-type-row-span * @grid-row-height);
    height: (@standard-type-row-span * @grid-row-height);
  }
}
