@import (reference) "~seek-style-guide/theme";

.root {
  display: flex;
  justify-content: center;
  @media @mobile {
    box-shadow: inset 0 -1px rgba(255, 255, 255, 0.2);
  }
  @media @desktop {
    background-color: @sk-background;
    &.divider {
      border-bottom: @row-height solid @sk-blue;
    }
  }
}

.list {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  max-width: @container-width;
  .aboveSmallDevice({flex: 0 1 @container-width;});
}

.item {
  flex: 1 1 20%;
  @media @mobile {
    display: none;
  }

  & .promo {
    .inline-svg() {
      @-walter-head-svg: "PHN2ZyB3aWR0aD0iNDgiIGhlaWdodD0iNjUiIHZpZXdCb3g9IjAgMCA0OCA2NSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwKSI+CjxwYXRoIGQ9Ik0yOCAxLjM5OTlDMjggMS4zOTk5IDMzLjUgMS42OTk5IDM1LjggNC4zOTk5IiBzdHJva2U9IiMyMTIxMjEiIHN0cm9rZS13aWR0aD0iMC43MTQyIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8cGF0aCBkPSJNNS4yOTk4IDE4LjMwMDFDNS4yOTk4IDE4LjMwMDEgNi43OTk4IDEwLjUwMDEgOC45OTk4IDguMzAwMTJDMTEuMTk5OCA2LjEwMDEyIDEyLjQ5OTggNy4yMDAxMiAxMi40OTk4IDcuMjAwMTJDMTIuNDk5OCA3LjIwMDEyIDE0Ljk5OTggNC4wMDAxMiAxOS41OTk4IDIuMDAwMTJDMjQuMTk5OCAwLjAwMDEyMjA3IDMwLjg5OTggMC45MDAxMjIgMzMuNjk5OCAzLjIwMDEyQzM2LjQ5OTggNS41MDAxMiAzNi40OTk4IDYuNzAwMTIgMzYuNDk5OCA2LjcwMDEyQzM2LjQ5OTggNi43MDAxMiAzOC4yOTk4IDcuMDAwMTIgMzkuMjk5OCA4LjQwMDEyQzQwLjI5OTggOS44MDAxMiA0Mi4zOTk4IDE4LjMwMDEgNDIuMzk5OCAxOC4zMDAxIiBmaWxsPSIjMjEyMTIxIi8+CjxwYXRoIGQ9Ik0zOS40IDYyLjE5OTlMMjQgNjQuMDk5OUwyMy43IDY0LjE5OTlMMjMuNCA2NC4wOTk5TDggNjIuMTk5OUwxMSA1MC4xOTk5TDE0IDM1LjM5OTlIMzMuNEwzNC4zIDM5Ljg5OTlMMzkuNCA2Mi4xOTk5WiIgZmlsbD0iI0Y1ODQ0OSIvPgo8cGF0aCBvcGFjaXR5PSIwLjUiIGQ9Ik0zMC45IDM5Ljg5OTlDMjQuNiA0Ny45OTk5IDE2LjQgNDkuOTk5OSAxMSA1MC4xOTk5TDE0IDM1LjM5OTlIMzBMMzAuOSAzOS44OTk5WiIgZmlsbD0iI0Y1ODQ0OSIvPgo8cGF0aCBkPSJNNi4zIDMwLjIwMDFDOS43NzkzOSAzMC4yMDAxIDEyLjYgMjcuMzc5NSAxMi42IDIzLjkwMDFDMTIuNiAyMC40MjA3IDkuNzc5MzkgMTcuNjAwMSA2LjMgMTcuNjAwMUMyLjgyMDYxIDE3LjYwMDEgMCAyMC40MjA3IDAgMjMuOTAwMUMwIDI3LjM3OTUgMi44MjA2MSAzMC4yMDAxIDYuMyAzMC4yMDAxWiIgZmlsbD0iI0YwNjQyRiIvPgo8cGF0aCBkPSJNNDEuMzk5NiAzMC4yMDAxQzQ0Ljg3OSAzMC4yMDAxIDQ3LjY5OTYgMjcuMzc5NSA0Ny42OTk2IDIzLjkwMDFDNDcuNjk5NiAyMC40MjA3IDQ0Ljg3OSAxNy42MDAxIDQxLjM5OTYgMTcuNjAwMUMzNy45MjAyIDE3LjYwMDEgMzUuMDk5NiAyMC40MjA3IDM1LjA5OTYgMjMuOTAwMUMzNS4wOTk2IDI3LjM3OTUgMzcuOTIwMiAzMC4yMDAxIDQxLjM5OTYgMzAuMjAwMVoiIGZpbGw9IiNGMDY0MkYiLz4KPHBhdGggZD0iTTQxLjgwMDMgMzAuN0MzOC42MDAzIDQwLjggMzEuMDAwMyA0NC4yIDIzLjgwMDMgNDQuMkMxNi42MDAzIDQ0LjIgOS4wMDAzMyA0MC44IDUuODAwMzMgMzAuN0MyLjYwMDMzIDIwLjYgNy4xMDAzMyAxNC45IDEwLjcwMDMgMTEuNUMxMi4wMDAzIDEwLjIgMTMuNTAwMyA5LjIwMDA0IDE1LjIwMDMgOC4zMDAwNEMxNy44MDAzIDcuMDAwMDQgMTkuODAwMyA3LjIwMDA0IDIzLjgwMDMgNy4yMDAwNEMyNy45MDAzIDcuMjAwMDQgMjkuOTAwMyA3LjAwMDA0IDMyLjQwMDMgOC4zMDAwNEMzNC4wMDAzIDkuMTAwMDQgMzUuNTAwMyAxMC4yIDM2LjkwMDMgMTEuNUM0MC41MDAzIDE0LjkgNDQuOTAwMyAyMC42IDQxLjgwMDMgMzAuN1oiIGZpbGw9IiNGNTg0NDkiLz4KPHBhdGggZD0iTTI4LjcwMDIgMjguOUMyOC41MDAyIDI5LjEgMjguMjAwMiAyOS4zIDI3LjkwMDIgMjkuNUMyNy4wMDAyIDMwIDI1LjgwMDIgMzAuMyAyNC4yMDAyIDMwLjNDMjEuNDAwMiAzMC4zIDE5LjcwMDIgMjkuMyAxOC44MDAyIDI4LjFDMTguNTAwMiAyNy44IDE4LjMwMDIgMjcuNSAxOC4yMDAyIDI3LjFDMTcuNzAwMiAyNiAxNy41MDAyIDI1LjIgMTguNjAwMiAyNC42QzE5LjgwMDIgMjQgMjEuNTAwMiAyNS44IDIzLjgwMDIgMjUuOEgyNC4xMDAyQzI2LjQwMDIgMjUuOCAyOC40MDAyIDIzLjggMjkuNjAwMiAyNC42QzMwLjkwMDIgMjUuNSAzMC40MDAyIDI3LjQgMjguNzAwMiAyOC45WiIgZmlsbD0iYmxhY2siLz4KPHBhdGggZD0iTTI3Ljg5OTggMjkuNDAwMUMyNi45OTk4IDI5LjkwMDEgMjUuNzk5OCAzMC4yMDAxIDI0LjE5OTggMzAuMjAwMUMyMS4zOTk4IDMwLjIwMDEgMTkuNjk5OCAyOS4yMDAxIDE4Ljc5OTggMjguMDAwMUMyMC4zOTk4IDI3LjMwMDEgMjIuNjk5OCAyNi45MDAxIDI1LjI5OTggMjcuODAwMUMyNi4xOTk4IDI4LjMwMDEgMjcuMDk5OCAyOC44MDAxIDI3Ljg5OTggMjkuNDAwMVoiIGZpbGw9IiNFRDEzODEiLz4KPHBhdGggZD0iTTIyLjkwMDEgMTkuOTAwMUMyMi4wMDAxIDIwLjcwMDEgMjIuNjAwMSAyMi4xMDAxIDIzLjgwMDEgMjIuMTAwMUMyNS4wMDAxIDIyLjEwMDEgMjUuNTAwMSAyMC42MDAxIDI0LjcwMDEgMTkuOTAwMUMyNC4yMDAxIDE5LjUwMDEgMjMuNDAwMSAxOS41MDAxIDIyLjkwMDEgMTkuOTAwMVoiIGZpbGw9IiNGMDY0MkYiLz4KPHBhdGggZD0iTTE1LjM5OTggMTguNzk5OEMxMS43OTk4IDE4Ljc5OTggOS4zOTk3NyAxNS45OTk4IDkuODk5NzcgMTMuMDk5OFYxMi45OTk4QzEwLjI5OTggMTAuNDk5OCAxMi43OTk4IDguNzk5OCAxNS4zOTk4IDguNzk5OEMxNi4wOTk4IDguNzk5OCAxNi42OTk4IDguODk5OCAxNy4yOTk4IDkuMDk5OEMxOS4wOTk4IDkuNjk5OCAyMC41OTk4IDExLjE5OTggMjAuODk5OCAxMy4wOTk4QzIxLjM5OTggMTYuMDk5OCAxOC44OTk4IDE4Ljc5OTggMTUuMzk5OCAxOC43OTk4WiIgZmlsbD0iI0VFRUVFRSIgc3Ryb2tlPSIjRUVFRUVFIiBzdHJva2Utd2lkdGg9IjEuMDcxMyIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIi8+CjxwYXRoIGQ9Ik0xNy4zMDA0IDkuMTk5OEw5LjkwMDM5IDEyLjk5OThDMTAuMzAwNCAxMC40OTk4IDEyLjgwMDQgOC43OTk4IDE1LjQwMDQgOC43OTk4QzE2LjEwMDQgOC44OTk4IDE2LjcwMDQgOC45OTk4IDE3LjMwMDQgOS4xOTk4WiIgZmlsbD0iIzk3RERDRiIvPgo8cGF0aCBkPSJNMjQgOC40MDAyQzMwLjA3NTEgOC40MDAyIDM1IDcuNjgzODUgMzUgNi44MDAyQzM1IDUuOTE2NTQgMzAuMDc1MSA1LjIwMDIgMjQgNS4yMDAyQzE3LjkyNDkgNS4yMDAyIDEzIDUuOTE2NTQgMTMgNi44MDAyQzEzIDcuNjgzODUgMTcuOTI0OSA4LjQwMDIgMjQgOC40MDAyWiIgZmlsbD0iIzIxMjEyMSIvPgo8cGF0aCBkPSJNMzYuODk5NiAxMy4wOTk4QzM3LjM5OTYgMTUuOTk5OCAzNC44OTk2IDE4Ljc5OTggMzEuMzk5NiAxOC43OTk4QzI3Ljg5OTYgMTguNzk5OCAyNS4zOTk2IDE1Ljk5OTggMjUuODk5NiAxMy4wOTk4QzI2LjI5OTYgMTAuNTk5OCAyOC43OTk2IDguNzk5OCAzMS4zOTk2IDguNzk5OEMzMy45OTk2IDguNzk5OCAzNi40OTk2IDEwLjU5OTggMzYuODk5NiAxMy4wOTk4WiIgZmlsbD0iI0VFRUVFRSIgc3Ryb2tlPSIjRUVFRUVFIiBzdHJva2Utd2lkdGg9IjEuMDcxMyIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIi8+CjxwYXRoIGQ9Ik0zMy40MDA0IDkuMTk5OEwyNS45MDA0IDEyLjk5OThDMjYuMzAwNCAxMC40OTk4IDI4LjgwMDQgOC43OTk4IDMxLjQwMDQgOC43OTk4QzMyLjEwMDQgOC44OTk4IDMyLjcwMDQgOC45OTk4IDMzLjQwMDQgOS4xOTk4WiIgZmlsbD0iIzk3RERDRiIvPgo8cGF0aCBkPSJNMjEuNzk5OCAxMi4yOTk4QzIxLjc5OTggMTIuMjk5OCAyMi4xOTk4IDExLjI5OTggMjMuMzk5OCAxMS4yOTk4QzI0LjU5OTggMTEuMjk5OCAyNC45OTk4IDEyLjI5OTggMjQuOTk5OCAxMi4yOTk4IiBzdHJva2U9IiNFNjAyNzgiIHN0cm9rZS13aWR0aD0iMS4wNzEzIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8cGF0aCBkPSJNMTUuMzk5OCAxOC4zMDAxQzE2LjAwNzMgMTguMzAwMSAxNi40OTk4IDE3LjgwNzYgMTYuNDk5OCAxNy4yMDAxQzE2LjQ5OTggMTYuNTkyNiAxNi4wMDczIDE2LjEwMDEgMTUuMzk5OCAxNi4xMDAxQzE0Ljc5MjMgMTYuMTAwMSAxNC4yOTk4IDE2LjU5MjYgMTQuMjk5OCAxNy4yMDAxQzE0LjI5OTggMTcuODA3NiAxNC43OTIzIDE4LjMwMDEgMTUuMzk5OCAxOC4zMDAxWiIgZmlsbD0iYmxhY2siLz4KPHBhdGggZD0iTTMxLjM5OTggMTguMzAwMUMzMi4wMDczIDE4LjMwMDEgMzIuNDk5OCAxNy44MDc2IDMyLjQ5OTggMTcuMjAwMUMzMi40OTk4IDE2LjU5MjYgMzIuMDA3MyAxNi4xMDAxIDMxLjM5OTggMTYuMTAwMUMzMC43OTIzIDE2LjEwMDEgMzAuMjk5OCAxNi41OTI2IDMwLjI5OTggMTcuMjAwMUMzMC4yOTk4IDE3LjgwNzYgMzAuNzkyMyAxOC4zMDAxIDMxLjM5OTggMTguMzAwMVoiIGZpbGw9ImJsYWNrIi8+CjxwYXRoIGQ9Ik05LjIwMDM5IDEyLjI5OThMNS45MDAzOSAxNy4yOTk4IiBzdHJva2U9IiNFNjAyNzgiIHN0cm9rZS13aWR0aD0iMS4wNzEzIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8cGF0aCBkPSJNMzcuNSAxMi4yOTk4TDQxLjggMTcuMTk5OCIgc3Ryb2tlPSIjRTYwMjc4IiBzdHJva2Utd2lkdGg9IjEuMDcxMyIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPHBhdGggZD0iTTE0LjkwMDQgNS40OTk4QzE0LjkwMDQgNS40OTk4IDE2LjMwMDQgMi4yOTk4IDIxLjgwMDQgMC4yOTk4MDUiIHN0cm9rZT0iIzIxMjEyMSIgc3Ryb2tlLXdpZHRoPSIwLjcxNDIiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+CjwvZz4KPGRlZnM+CjxjbGlwUGF0aCBpZD0iY2xpcDAiPgo8cmVjdCB3aWR0aD0iNDcuNiIgaGVpZ2h0PSI2NC4yIiBmaWxsPSJ3aGl0ZSIvPgo8L2NsaXBQYXRoPgo8L2RlZnM+Cjwvc3ZnPgo=";
      @-walter-hands-svg: "PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxODguNjYgMzMuNTciPjxkZWZzPjxzdHlsZT4uY2xzLTF7ZmlsbDojZTU4YzU2O30uY2xzLTJ7ZmlsbDojZTU4ZDU2O308L3N0eWxlPjwvZGVmcz48dGl0bGU+d2FsdGVyLWhhbmRzPC90aXRsZT48ZyBpZD0iTGF5ZXJfMiIgZGF0YS1uYW1lPSJMYXllciAyIj48ZyBpZD0iTGF5ZXJfMS0yIiBkYXRhLW5hbWU9IkxheWVyIDEiPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTE4OC42NSwxMy4wNWMwLDEuMzMsMCwyLjY2LDAsNCwwLDguMjctMy4zNCwxMy41My05LjgxLDE1LjYxLTcuNDMsMi4zOC0xNS4xOS4wNy0xOS41Ny02LTEuMTItMS41NS0xLjk0LTIuNzUtNC4yNS0yLjU1LTMuMjYuMjktNC45My0xLjkyLTUuMDctNC45LS4yMi00LjY0LS4xNC05LjMxLS4wNS0xNEMxNTAsMiwxNTIsLjQ4LDE1NSwuMjZBMTE5LjQyLDExOS40MiwwLDAsMSwxODYuMzMsMi40YzEuOTUuMzgsMi4zMywxLjUzLDIuMzIsMy4xN0MxODguNjQsOC4wNiwxODguNjUsMTAuNTYsMTg4LjY1LDEzLjA1WiIvPjxwYXRoIGNsYXNzPSJjbHMtMiIgZD0iTTAsMTIuNjZDMCwzLjA2LDAsMi45Miw5LjUyLDEuODMsMTYuNDQsMSwyMy40MS41MiwzMC4zNy4xOGM1LjEyLS4yNiw3LDEuNTksNy4xNiw2LjY3LjEzLDMuMzEuMDgsNi42NCwwLDEwcy0xLDYtNC43OCw2LjQ2Yy0xLjY2LjE5LTIuMTcsMS4zNC0yLjc4LDIuNDlDMjUuNzksMzMuNiwxNy4xLDM0LjM1LDkuOTIsMzIuNjksMy42MywzMS4yMy4wOSwyNS4xNCwwLDE3LjE0LDAsMTUuNjUsMCwxNC4xNSwwLDEyLjY2WiIvPjwvZz48L2c+PC9zdmc+";
      @-inline-head: url("data:image/svg+xml;base64,@{-walter-head-svg}");
      @-inline-hands: url("data:image/svg+xml;base64,@{-walter-hands-svg}");
    }

    &::before {
      .inline-svg();
      content: "";
      background-image: @-inline-head;
      background-repeat: no-repeat;
      background-size: 48px 65px;
      display: block;
      height: 24px;
      width: 48px;
      position: absolute;
      top: -24px;
      left: 50%;
      transform: translateX(-50%);
      transition: top 0.2s ease-out, height 0.2s ease-out;
    }

    &:hover::before,
    &:focus::before {
      top: -41px;
      height: 41px;
    }

    &::after {
      .inline-svg();
      content: "";
      background-image: @-inline-hands;
      background-repeat: no-repeat;
      background-size: 96px auto;
      display: block;
      height: 18px;
      width: 96px;
      position: absolute;
      top: -4px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.link {
  .touchableText();
  display: flex;
  justify-content: center;
  align-items: center;
  color: @sk-white;
  text-decoration: none;
  white-space: nowrap;
  width: 100%;
  position: relative;
  &:hover {
    cursor: pointer;
  }
  @media @desktop {
    color: @sk-black;
  }
}

.link_isActive {
  color: @sk-white;
  background-color: @sk-blue;
  @media @mobile {
    box-shadow: inset 0 -2px @sk-white;
  }
  @media @desktop {
    border-radius: 2px 2px 0 0;
  }
}

.newBadge {
  @media only screen and (max-width: @container-width) {
    position: absolute;
    right: 0;
    top: -@touchableTextHeight / 2 + 2px;
    &.newBadge_isShort {
      right: 17%;
    }
    &.newBadge_isLast {
      right: @gutter-width;
    }
  }
}
