@import (reference) "~seek-style-guide/theme";

@icon-width: @row-height * 5;
@gutter-adjustment: 100px;
@alert-gutter: @gutter-width * 0.75;

.root {
  position: relative;
}

.alert {
  display: flex;
  align-items: center;
}

.positive {
  color: @sk-positive;
}

.info {
  color: @sk-info;
}

.critical {
  color: @sk-critical;
}

.help {
  color: @sk-help;

  .icon {
    position: relative;
    top: -2px;
  }
}

.text {
  display: inline-block;
  vertical-align: middle;
  flex-grow: 1;
}

.icon {
  vertical-align: middle;
  text-align: center;
  width: @icon-width;
  height: @icon-width;
  flex-shrink: 0;
  margin-right: @alert-gutter;
  @media @mobile {
    vertical-align: top;
  }

  svg {
    width: @icon-width;
    height: @icon-width;
  }

  .primary & {
    opacity: 0.8;
  }
}

.close {
  width: @icon-width;
  height: @icon-width;
  flex-shrink: 0;
  border: none;
  padding: 0;
  background-color: transparent;
  color: currentColor;
  margin-left: @alert-gutter;
  vertical-align: middle;
  cursor: pointer;

  .primary & {
    opacity: 0.8;
  }

  .secondary & {
    color: @sk-black;
    opacity: 0.5;
  }
}
