@import (reference) "~seek-style-guide/theme";

@positive-light: #f3f9f2;
@positive: #169400;
@info-light: #f9f6fb;
@info: #9556b7;
@critical-light: @sk-white;
@critical: @sk-pink;
@help-light: @sk-off-white;
@help: @sk-charcoal;

@icon-width: @grid-row-height * 3;
@gutter-adjustment: 100px;
@alert-gutter: @grid-gutter-width * 0.75;

.root {
  position: relative;
  // margin: 0 -@gutter-adjustment @grid-row-height * 3 -@gutter-adjustment;
  padding: (@grid-row-height * 2) @alert-gutter;

  &.tertiary {
    padding: 0;
  }
}

// .triangle {
//   &::before {
//     content: '';
//     width: 0;
//     height: 0;
//     position: absolute;
//     border-left: round(@icon-width / 2) solid transparent;
//     border-right: round(@icon-width / 2) solid transparent;
//     border-bottom: @icon-width - 10 solid @light-purple;
//     left: @grid-gutter-width;
//     top: -@icon-width + 10;
//   }
// }

.positive {
  &.primary {
    background-color: @positive;
    color: @sk-white;
  }

  &.secondary {
    background-color: @positive-light;
    color: @positive;
  }

  &.tertiary {
    color: @positive;
  }
}

.info {
  &.primary {
    background-color: @info;
    color: @sk-white;
  }

  &.secondary {
    background-color: @info-light;
    color: @info;
  }

  &.tertiary {
    color: @info;
  }
}

.critical {
  &.primary,
  &.secondary {
    background-color: @critical-light;
    color: @critical;
  }

  &.tertiary {
    color: @critical;
  }
}

.help {
  &.primary,
  &.secondary {
    background-color: @help-light;
    color: @help;
  }

  &.tertiary {
    color: @help;
  }

  .icon {
    position: relative;
    top: -2px;
  }
}

.text {
  display: inline-block;
  vertical-align: middle;
  max-width: ~"calc(100% - (@{icon-width} + @{alert-gutter}))";

  .hideIcon & {
    max-width: none;
  }

  .showCloseButton & {
    max-width: ~"calc(100% - ((@{icon-width} * 2) + (@{alert-gutter} * 2)))";
  }
}

.icon {
  vertical-align: middle;
  text-align: center;
  width: @icon-width;
  height: @icon-width;
  margin-right: @alert-gutter;
  @media @mobile {
    vertical-align: top;
  }

  svg { // stylelint-disable-line selector-max-type
    width: @icon-width;
    height: @icon-width;
  }

  .primary & {
    opacity: 0.8;
  }
}

.close {
  width: @icon-width;
  height: @icon-width;
  border: none;
  padding: 0;
  background-color: transparent;
  color: currentColor;
  margin-left: @alert-gutter;
  vertical-align: middle;

  .primary & {
    opacity: 0.8;
  }

  .secondary & {
    color: @sk-black;
    opacity: 0.5;
  }
}
