@import (reference) "~seek-style-guide/theme";
@import (reference) "./Footer.common.less";

.root {
  background-color: @sk-footer;
}

.content {
  display: flex;
  flex-wrap: wrap;

  @media only screen @footer-vertical {
    padding: (@grid-row-height * 7) 0;
  }

  @media only screen @footer-horizontal {
    padding: (@grid-row-height * 4) (@grid-gutter-width / 2) (@grid-row-height * 5);
  }

  @media only screen @footer-classic {
    padding-left: 0;
    padding-right: 0;
    max-width: @grid-container-width;
    margin: 0 auto;
  }
}

.copyright {
  @media only screen @footer-vertical {
    display: flex;
    flex-direction: column-reverse;
    flex: 1 0 100%;
    align-items: center;
    justify-content: center;
  }

  @media only screen @footer-horizontal {
    margin-top: (@grid-row-height * 3);
  }
}

.copyrightLink {
  .footerLink();

  @media only screen @footer-horizontal {
    margin-right: @grid-gutter-width;
  }
}

.copyright .secondaryLink {
  @media only screen @footer-vertical {
    display: none;
  }
}

.copyrightMessage {
  @media only screen @footer-horizontal {
    .footerText();
    display: inline-block;
  }
  @media only screen @footer-vertical {
    .touchableText();
  }
}
