// Accessible variants
@sk-mid-gray-on-white: #959595;
@sk-mid-gray-dark-on-gray-light: #646464;

@sk-pink-on-gray-light: #bd0b67;
@sk-learning-dark-on-gray-light: #157e00;
@sk-business-on-gray-light: #0f749f;
@sk-link-on-mid-gray-light: #2259b7;
