// Seek base colors
@sk-blue-darker: #071d40;
@sk-blue-dark: #042763;
@sk-blue: #0d3880;
@sk-blue-light: #184da8;
@sk-blue-lighter: #2765cf;
@sk-pink: #e60278;
@sk-green: #157e00;
@sk-green-light: #5bc252;
@sk-purple: #9556b7;
@sk-teal: #00a5ad;
@sk-orange: #f57c00;
@sk-yellow: #ffc600;
@sk-yellow-light: #fffce3;
