// Seek element colors
@sk-link: #0066cc;
@sk-link-visited: #7e30ab;
@sk-focus: #1e90ff;
@sk-highlight: #1d9ede;
@sk-green-light: #5bc252;
@sk-yellow: #ffc600;
@sk-yellow-light: #fffce3;
@sk-orange: #f57c00;
@sk-footer: @sk-mid-gray-light;
@sk-background: @sk-gray-light;
@sk-form-accent: @sk-focus;
