// Seek element colors
@sk-link: @sk-blue-lighter;
@sk-link-visited: #7e30ab;
@sk-focus: fade(#1e90ff, 75%);
@sk-highlight: #1d9ede;
@sk-footer: @sk-mid-gray-light;
@sk-background: @sk-gray-light;
@sk-card-bg: @sk-white;
@sk-form-accent: @sk-blue-lighter;
@sk-positive-light: #f3f9f2;
@sk-positive: #169400;
@sk-positive-dark: #157d00;
@sk-info-light: #f9f6fb;
@sk-info: #9556b7;
@sk-info-dark: #904fb4;
@sk-critical-light: @sk-white;
@sk-critical: @sk-pink;
@sk-critical-dark: #cc026a;
@sk-help-light: @sk-off-white;
@sk-help: @sk-charcoal;
@sk-recommended-jobs: @sk-green;
@sk-applied-jobs: #00b600;
