// Seek element colors
@sk-link: #0066cc;
@sk-link-visited: #7e30ab;
@sk-focus: #1e90ff;
@sk-highlight: #1d9ede;
@sk-green-light: #5bc252;
@sk-footer: #e1e1e1;
@sk-background: @sk-gray-light;
@sk-yellow: #fffce3;
