// Seek grays
@sk-black: #212121;
@sk-charcoal: #404040;
@sk-mid-grey-dark: #747474;
@sk-mid-grey-medium: #898989;
@sk-mid-grey: #a8a8a8;
@sk-mid-grey-light: #d6d6d6;
@sk-grey-light: #eeeeee;
@sk-grey-lightest: #f7f7f7;
@sk-off-white: #fbfbfb;
@sk-white: #ffffff;
