@import (reference) "../Footer.common.less";

.toggle {
  position: absolute;
  opacity: 0;
}

.toggleLink {
  .footerLink();
}

.toggleContainer {
  display: none;
}

.chevron {
  display: inline-block;
  margin-left: 6px;
  transition: transform 0.3s ease;
  transform-origin: 50% 50%;
}

.toggle:checked ~ .toggleContainer {
  display: block;
}

.toggle:checked ~ .toggleLabel .chevron {
  transform: rotate(180deg);
}

.secondary {
  @media only screen @footer-vertical {
    display: none;
  }
}
