@import (reference) "~seek-style-guide/theme";

.root {
  padding-bottom: @row-height * 2;
  display: block;

  .root {
    position: relative;
    outline: 2px solid red;
    &::after {
      content: 'ERROR: Multiple <Text> components nested';
      background: red;
      font-weight: @sk-bold;
      color: white;
      position: absolute;
      top: 0;
      right: 0;
      padding: 0 @gutter-width;
    }
  }
}

.standard {
  &:not(.baseline) { .standardTextResponsive(@baseline: false); }
  &.baseline { .standardTextResponsive(@baseline: true); }
  padding-bottom: @row-height;
}

.small {
  &:not(.baseline) { .smallTextResponsive(@baseline: false); }
  &.baseline { .smallTextResponsive(@baseline: true); }
  padding-bottom: @row-height;
}

.large {
  &:not(.baseline) { .largeTextResponsive(@baseline: false); }
  &.baseline { .largeTextResponsive(@baseline: true); }
  padding-bottom: @row-height;
}

.subheading {
  &:not(.baseline) { .subheadingTextResponsive(@baseline: false); }
  &.baseline { .subheadingTextResponsive(@baseline: true); }
}

.headline {
  &:not(.baseline) { .headlineTextResponsive(@baseline: false); }
  &.baseline { .headlineTextResponsive(@baseline: true); }
}

.heading {
  &:not(.baseline) { .headingTextResponsive(@baseline: false); }
  &.baseline { .headingTextResponsive(@baseline: true); }
}

.hero {
  &:not(.baseline) { .heroTextResponsive(@baseline: false); }
  &.baseline { .heroTextResponsive(@baseline: true); }
}

.light {
  font-weight: @sk-light;
}

.raw {
  padding-bottom: 0;
}

.bullet {
  display: list-item;
  list-style-type: disc;
  margin-left: 1.5 * @gutter-width;
}
