.container {
    margin: 0 auto;
    padding: 0 20px;
    @media(min-width: 769px) {
        padding: 0 50px;
    }
    margin-bottom: 20px;

    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding:45px 10px 35px;
    border-bottom: 1px solid #ccc;
}
.item {
    &:after {
        font-size: 1.1rem;
        content: '|';
        display: inline-block;
        color: #999;
    }
    &:last-child:after {
        display:none;
    }
}
.link {
    display: inline-block;
    padding:0 10px 10px;
    text-decoration: none;
    color: #1c3f94;
}
.copyright {
    color: #757575;
    font-size: 12px;
    margin-top: 10px;
    text-align: center;

    @media(min-width: 769px) {
        text-align: right;
    }
}
