@import (reference) "~seek-style-guide/theme";

.root {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.icon {
  height: (@grid-row-height * 4);
}

.svg {
  fill: @sk-highlight;
  width: (@grid-row-height * 4);
  height: (@grid-row-height * 4);
}

.name {
  .standardText();
  width: 100%;
  text-align: center;
  margin-top: @grid-row-height;
}
