@import (reference) "../palette/grays.less";

// Base
@base-font-stack: 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Noto Sans', Ubuntu, 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
@base-font-size: 10;
// Descender height has been adjusted to cater for both Roboto and
// Helvetica Neue being as close to the baseline as possible:
@font-descender-height-scale: 0.1365;

//SEEK ASIA HIERARCHY
//Heading specific
@screaming-type-scale: 3.4;
@screaming-type-row-span: 9;
@screaming-type-weight: @sa-bold;
@screaming-type-scale-mobile: 3.4;
@screaming-type-row-span-mobile: 9;
@screaming-type-weight-mobile: @sa-bold;

@yelling-type-scale: 2.4;
@yelling-type-row-span: 7;
@yelling-type-weight: @sk-regular;
@yelling-type-scale-mobile: 2.4;
@yelling-type-row-span-mobile: 7;
@yelling-type-weight-mobile: @sa-bold;

@shouting-type-scale: 2;
@shouting-type-row-span: 6;
@shouting-type-weight: @sk-regular;
@shouting-type-scale-mobile: 2;
@shouting-type-row-span-mobile: 6;
@shouting-type-weight-mobile: @sa-bold;

@waving-type-scale: 1.7;
@waving-type-row-span: 5;
@waving-type-weight: @sa-bold;
@waving-type-scale-mobile: 1.7;
@waving-type-row-span-mobile: 5;
@waving-type-weight-mobile: @sa-bold;

@whistling-type-scale: 1.4;
@whistling-type-row-span: 4;
@whistling-type-weight: @sa-bold;
@whistling-type-scale-mobile: 1.4;
@whistling-type-row-span-mobile: 4;
@whistling-type-weight-mobile: @sa-bold;

@whispering-title-type-scale: 1.2;
@whispering-title-type-row-span: 4;
@whispering-title-type-weight: @sa-bold;
@whispering-title-type-scale-mobile: 1.2;
@whispering-title-type-row-span-mobile: 4;
@whispering-title-type-weight-mobile: @sa-bold;

//Copy specific
@loud-type-scale: 2;
@loud-type-row-span: 6;
@loud-type-weight: @sk-regular;
@loud-type-scale-mobile: 2;
@loud-type-row-span-mobile: 6;
@loud-type-weight-mobile: @sk-regular;

@conversational-type-scale: 1.6;
@conversational-type-row-span: 5;
@conversational-type-weight: @sk-regular;
@conversational-type-scale-mobile: 1.6;
@conversational-type-row-span-mobile: 5;
@conversational-type-weight-mobile: @sk-regular;

@intimate-type-scale: 1.4;
@intimate-type-row-span: 5;
@intimate-type-weight: @sk-regular;
@intimate-type-scale-mobile: 1.4;
@intimate-type-row-span-mobile: 5;
@intimate-type-weight-mobile: @sk-regular;

@whispering-type-scale: 1.2;
@whispering-type-row-span: 4;
@whispering-type-weight: @sk-regular;
@whispering-type-scale-mobile: 1.2;
@whispering-type-row-span-mobile: 4;
@whispering-type-weight-mobile: @sk-regular;

@interaction-type-scale: 1.8;
@interaction-type-row-span: 10;

// Text variants
@sk-light: 300;
@sk-regular: 400;
@sk-medium: 500;
@sk-bold: 600;

@sa-light: 300;
@sa-regular: 400;
@sa-semi-bold: 600;
@sa-bold: 700;
@sk-secondary: @sk-mid-gray-dark;
