@import (reference) "../layout/grid.less";
@import (reference) "../palette/grays.less";

// Base
@base-font-stack: Roboto, "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
@classic-base-font-stack: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
@base-font-size: 10;
// Descender height has been adjusted to cater for both Roboto and
// Helvetica Neue being as close to the baseline as possible:
@font-descender-height-scale: 0.1365;

// Hierarchy
@hero-type-row-span: 5;
@hero-type-scale: 4.2;
@hero-type-row-span-mobile: 4;
@hero-type-scale-mobile: 2.8;

@headline-type-row-span: 4;
@headline-type-scale: 2.8;
@headline-type-row-span-mobile: @headline-type-row-span;
@headline-type-scale-mobile: @headline-type-scale;

@heading-type-row-span: 3;
@heading-type-scale: 2.1;
@heading-type-row-span-mobile: @heading-type-row-span;
@heading-type-scale-mobile: @heading-type-scale;

@subheading-type-row-span: 3;
@subheading-type-scale: 1.8;
@subheading-type-row-span-mobile: @subheading-type-row-span;
@subheading-type-scale-mobile: @subheading-type-scale;

@standard-type-row-span: 2;
@standard-type-scale: 1.4;
@standard-type-row-span-mobile: 3;
@standard-type-scale-mobile: 1.8;

@small-type-row-span: 2;
@small-type-scale: 1.2;
@small-type-row-span-mobile: @small-type-row-span;
@small-type-scale-mobile: @small-type-scale;

@interaction-type-row-span: 5;
@interaction-type-scale: 1.8;

// Breakpoint
@responsive-type-breakpoint: 740;

// Text variants
@sk-bold: 600;
@sk-secondary: @sk-mid-gray-dark;
