@import (reference) "~seek-style-guide/theme";

.root {
  background-color: fade(@sk-blue-lighter, 12%);
  border-radius: 2px;
  display: inline-block;
  margin: -2px;
  padding: 2px;
}

.secondary {
  color: @sk-charcoal;
}
