@import (reference) "~seek-style-guide/theme";

.root {
  border-radius: 2px;
  display: inline-block;
  margin: -2px;
  padding: 2px;
  .highlightBackground(@sk-focus);
}

.highlightBackground(@color) {
  background-color: fade(@color, 12%);
}

.secondaryText {
  color: @sk-charcoal;
}

.critical {
  .highlightBackground(@sk-critical);
}
