@import (reference) "~seek-asia-style-guide/theme";

@linkDesktopColor: #fff;
@linkDesktopOnHoverColor: #ccc;
@secondaryLinkDesktopColor: #999;
@secondaryLinkDesktopOnHoverColor: #262626;
@linkMobileColor: #1c3f94;
@linkMobileOnHoverColor: #f5f5f5;
@itemFocusedBackgroundColor: #142d69;

.container {
  padding: @grid-base 0;
  @media @desktop {
    padding: 0;
    display: block;
  }
}

.item {
  @media @desktop {
    display: inline-block;
    color: @linkDesktopColor;
  }
}

.dropdownIcon {
  padding-top: @grid-base * 2;
  padding-left: @grid-base;
  width: @grid-base * 3;
}

.itemShowDropdown {
  & .dropdownList {
    display: block;
  }
  @media @desktop {
    background: @itemFocusedBackgroundColor;
  }
}

.link {
  display: block;
  text-decoration: none;
  color: @linkMobileColor;
  padding: @grid-base 0px;
  @media @desktop {
    padding: (@grid-base * 3) (@grid-base * 2);
    color: @linkDesktopColor;
    &:hover,
    &:focus {
      color: @linkDesktopOnHoverColor;
    }
  }
}

.dropdownList {
  display: none;
  @media @desktop {
    position: absolute;
    min-width: (@grid-base * 40);
    padding: @grid-base 0px;
    background: @saWhite;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    z-index: 1;
  }
}

.dropdownLink {
  display: block;
  text-decoration: none;
  color: @linkMobileColor;
  &:hover,
  &:focus {
    background: @linkMobileOnHoverColor;
    opacity: .8;
  }
  @media @desktop {
    padding: @grid-base @grid-gutter-width;
    white-space: nowrap;
    color: @secondaryLinkDesktopColor;
    &:hover,
    &:focus {
      color: @secondaryLinkDesktopOnHoverColor;
      opacity: 1;
    }
    &.hasDivider {
      border-bottom: 1px solid @linkDesktopOnHoverColor;
    }
  }
}

.linkHideOnMobile {
  display: none;
  @media @desktop {
    display: block;
  }
}

.linkOnlyOnMobile {
  display: block;
  @media @desktop {
    display: none;
  }
}
