@import (reference) "~seek-style-guide/theme";

.root {
  .aboveSmallDevice({
    position: relative;
  });
}

.toggleLabel {
  .touchableText();
  display: flex;
  cursor: pointer;
  position: relative;
  z-index: 1;

  .smallDeviceOnly({
    color: @sk-white;
  });
}

.toggle {
  position: absolute;
  opacity: 0;
}

.toggle:checked {
  & ~ .toggleContainer {
    opacity:1;
    visibility: visible;
    transform: translateY(0);
    pointer-events: auto;
  }

  & ~ .menuBackdrop {
    .aboveSmallDevice({
      display: block;
    });

    .smallDeviceOnly({
      z-index: 1;
      pointer-events: auto;
      opacity: 1;
    });
  }

  & ~ .toggleLabel .chevron {
    transform: rotate(180deg);
  }
}

.toggleContainer {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  right: 0;
  transform-origin: 50% 0;
  transform: translateY(@grid-row-height * -3);
  transition: opacity .25s ease, transform .25s cubic-bezier(0.020, 1.505, 0.745, 1.235);
  pointer-events: none;
  z-index: 1;

  .smallDeviceOnly({
    transform: translateY(@grid-row-height * -1);
    transition: opacity .25s ease, transform .25s ease;
    top: (@grid-row-height * 7); // header height
    right: 0;
    left: 0;
    bottom: 0;
  });
}

.menuBackdrop {
  position: fixed;
  top: -999px;
  left: -999px;
  right: -999px;
  bottom: -9999px;

  .aboveSmallDevice({
    z-index: 1;
    display: none;
  });

  .smallDeviceOnly({
    z-index: -99;
    pointer-events: none;
    opacity: 0;
    transition: opacity .25s ease;
    top: 63px;
    // background-color: darken(@sk-blue, 20%); // This overlays the top banner, need to revisit
    background-color: @sk-blue; // This overlays the top banner, need to revisit
  });
}

.menuBackdropLabel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.mobileMenuLabel {
  user-select: none;
  display: inline-block;
  min-width: 60px;
  text-align: right;
  .aboveSmallDevice({
    display: none;
  });
}

.desktopMenuLabel {
  pointer-events: none;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
  max-width: 100px; // ~ 10 characters

  @media only screen and (min-width: 400px) {
    max-width: 200px; // ~ 20 characters
  }

  .smallDeviceOnly({
    display: none;
  });
}

.chevron {
  display: inline-block;
  margin-left: (@grid-gutter-width / 2);
  transition: transform .3s ease;
  transform-origin: 50% 50%;
  pointer-events: none;
  .smallDeviceOnly({
    text-align: center;
    width: 20px;
    margin-right: (@grid-gutter-width / 2);
  });
}

.chevronSvg {
  width: 14px;
  height: 14px;
  // Begin bold icon hacks
  .smallDeviceOnly({
    path {
      stroke: currentColor;
      stroke-width: 70px;
    }
  });
  // End bold icon hacks
}
