@import (reference) "~seek-style-guide/theme";

.root {
  position: relative;
}

.toggleLabel {
  .touchableText();
  display: flex;
  cursor: pointer;
  color: @sk-black;
  position: relative;
  z-index: 1;
}

.toggle {
  position: absolute;
  opacity: 0;
}

.toggle:checked {
  & ~ .toggleContainer {
    opacity:1;
    visibility: visible;
    transform: translateY(0);
    pointer-events: auto;
  }

  & ~ .menuBackdrop {
    display: block;
  }

  & ~ .toggleLabel .chevron {
    transform: rotate(180deg);
  }
}

.toggleContainer {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  right: 0;
  transform-origin: 50% 0;
  transform: translateY(@grid-row-height * -3);
  transition: opacity .25s cubic-bezier(0.020, 1.505, 0.745, 1.235), transform .25s cubic-bezier(0.020, 1.505, 0.745, 1.235);
  pointer-events: none;
  z-index: 1;
}

.menuBackdrop {
  display: none;
  position: fixed;
  z-index: 1;
  top: -999px;
  left: -999px;
  right: -999px;
  bottom: -9999px;
}

.menuBackdropLabel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.userDisplayName {
  pointer-events: none;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 101px; // ~ 10 characters

  @media only screen and (min-width: 400px) {
    max-width: 201px; // ~ 20 characters
  }
}

.chevron {
  display: inline-block;
  margin-left: (@grid-gutter-width / 2);
  transition: transform .3s ease;
  transform-origin: 50% 50%;
  pointer-events: none;
}

.chevronSvg {
  width: 14px;
  height: 14px;
}
