@import (reference) "~seek-style-guide/theme";

.root {
  display: flex;
  justify-content: space-between;

  .dropdown {
    flex-basis: 45%;

    .dropdownInput {
      margin-bottom: 0;
    }
  }
}
