@import (reference) "~seek-style-guide/theme";

.root {
  display: flex;
}

.monthWrapper {
  flex-basis: 0;
  flex-grow: 1;
  padding-right: @gutter-width / 2;
}

.yearWrapper {
  flex-basis: 0;
  flex-grow: 1;
  padding-left: @gutter-width / 2;
}

.dropdown {
  width: 100%;
}

.yearLabel {
  display: block;
  height: @row-height * 5;
}
