@import (reference) "~seek-style-guide/theme";

.dropdownWrapper {
  display: flex;
}

.dropdown {
  flex-basis: 0;
  flex-grow: 1;
  margin-right: @gutter-width / 2;
}

.dropdown + .dropdown {
  margin-right: 0;
  margin-left: @gutter-width / 2;
}
