@import (reference) "~seek-style-guide/theme";

.columns {
  @media @desktop {
    display: flex;
    &.columns_reverse {
      flex-direction: row-reverse;
    }
  }
}

.column {
  @media @desktop {
    flex-basis: 0;
    flex-grow: 1;

    min-width: 0;
    .columns_flexible & {
      min-width: auto;
    }

    padding: 0 (@gutter-width / 2);
    .columns_tight & {
      padding: 0 (@gutter-width / 4);
    }
    .columns:not(.columns_reverse) &:first-child,
    .columns_reverse &:last-child {
      padding-left: 0 !important;
    }
    .columns:not(.columns_reverse) &:last-child,
    .columns_reverse &:first-child {
      padding-right: 0 !important;
    }
  }
}
