@import (reference) '~seek-style-guide/theme';

@height: @row-height * @small-type-row-span;

.__primary(@color) {
  background-color: @color;
  color: @sk-white;
}

.root {
  .rawText(1.2);
  font-weight: @sk-medium;
  height: @height;
  display: inline-flex;
  align-items: center;
  border-radius: 3px;
  padding: 0 10px;

  background-color: fade(@sk-black, 10%);
  color: @sk-black;

  &.primary {
    .__primary(@sk-black);
  }
}

.info {
  background-color: fade(@sk-info, 10%);
  color: @sk-info-dark;
  &.primary {
    .__primary(@sk-info);
  }
}

.accent {
  background-color: fade(@sk-focus, 10%);
  color: @sk-focus;
  &.primary {
    .__primary(@sk-focus);
  }
}

.critical {
  background-color: fade(@sk-pink, 10%);
  color: @sk-pink;
  &.primary {
    .__primary(@sk-pink);
  }
}

.secondary {
  background-color: fade(@sk-mid-gray-dark, 10%);
  color: @sk-charcoal;
  &.primary {
    .__primary(@sk-mid-gray-dark);
  }
}

.neutral {
  background-color: fade(@sk-black, 10%);
  color: @sk-black;
  &.primary {
    .__primary(@sk-black);
  }
}

.positive {
  background-color: fade(@sk-positive, 10%);
  color: @sk-positive-dark;
  &.primary {
    .__primary(@sk-positive);
  }
}
