@import (reference) "~seek-style-guide/theme";

.palette {
  margin-bottom: @grid-row-height * 3;
  display: flex;
}

.paletteTitle {
  .rawText(@heading-type-scale);
  line-height: @grid-row-height * 6;
  text-align: right;
  width: @grid-gutter-width * 5;
  padding-right: @grid-gutter-width;
  color: @sk-mid-gray-dark;
  flex-shrink: 0;
}

.swatches {
  display: flex;
}

.swatch {
  margin-right: @grid-gutter-width;
}

.description {
  .headingText();
  margin-bottom: @grid-row-height * 2;
}

.name {
  .headingText();
  color: @sk-mid-gray-dark;
  margin-top: (@grid-row-height);
  margin-bottom: (@grid-row-height * 2);
  padding-left: (@grid-gutter-width / 2);
}

.swatchName,
.swatchColor {
  .standardText();
  display: inline-block;
  margin-left: (@grid-gutter-width / 2);
  margin-bottom: @grid-row-height;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.swatchColor {
  min-width: 60px;
  text-align: right;
  margin-right: (@grid-gutter-width / 2);
  white-space: nowrap;
  overflow: visible;
}
