.transparentBackdrop() {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: opacity 0.3s;
  z-index: @z-index-backdrop;
  opacity: 0;
}

.backdrop() {
  .transparentBackdrop();
  background-color: @sk-black;
  opacity: 0.7;
}
