@backdrop-opacity: 0.7;

.backdrop() {
  position: fixed;
  top: -999px;
  left: -999px;
  right: -999px;
  bottom: -9999px;
  background-color: @sk-black;
  transition: opacity 0.3s;
  z-index: @z-index-inline-overlay;
}
