.link() {
  color: @sk-link;
  font-weight: @sk-medium;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.nav_link() {
  color: @sk-black;
  text-decoration: none;
  &:hover {
    color: @sk-pink-on-gray-light;
    cursor: pointer;
  }
}
