@import (reference) "~seek-style-guide/theme";

@classic-ia: ~"only screen and (min-width: 1025px)";

.content {
  @media @classic-ia {
    max-width: @grid-container-width + (@grid-gutter-width * 2);
    margin: 0 auto;
    padding-left: @grid-gutter-width;
    padding-right: @grid-gutter-width;
  }
}
