@import (reference) "~seek-asia-style-guide/theme";
@job-card-section-space: 0;
@job-card-label-indent: @grid-base;
@job-card-list-indent: @grid-gutter-width;
@job-card-text-space: 0;
@job-card-bottom-text-space: @grid-base;
@job-card-logo-indent: @grid-gutter-width;

.root {
  width: 100%;
  margin-bottom: 0;
  border-style: solid;
  border-bottom-width: 1px;
  border-color: @saGrey4;
}

.company {
  padding-bottom: @grid-base * 3;
  color: @saGrey1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.greyLabel {
  padding: @job-card-text-space @job-card-label-indent;
  margin-right: @job-card-label-indent;
  background-color: @saGrey5;
  color: @saGrey2;
}

.classifiedLabel {
  &:extend(.greyLabel);
}

.confidentialLabel {
  &:extend(.greyLabel);
}

.featuredLabel {
  padding: @job-card-text-space @job-card-label-indent;
  margin-right: @job-card-label-indent;
  background-color: @panelPink;
  color: @saWhite;
}

.positionTitle {
  color: @linkBlue;
  padding-bottom: @job-card-text-space;
  display: inline;
  word-wrap: break-word;
}

.sellingPointsList {
  list-style: disc;
  padding-left: @job-card-list-indent;
  color: @saGrey1;
}

.sellingPoint {
  padding-bottom: @job-card-text-space;
}

.jobDescriptionSection,
.sellingPointsSection {
  padding-top: @job-card-section-space;
}

.bodyDescriptionText {
  color: @saGrey1;
  padding-bottom: @job-card-text-space;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}

.footerSection {
  padding-top: @job-card-section-space;
  display: flex;
  justify-content: space-between;
}

.footerLeft {
  flex-basis: auto;
  overflow: hidden;
}

.jobInfoContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.jobInfoList {
  padding-bottom: (@grid-row-height * 6);
}

.jobInfo {
  padding-bottom: @job-card-text-space;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: @saGrey1;
  /* stylelint-disable-next-line */
  & span {
    vertical-align: middle;
  }
}

.jobInfoIcon {
  color: @saGrey2;
}

.postingDuration {
  padding-bottom: @job-card-bottom-text-space;
  color: @saGrey3;
}

.companyLogoWrapper {
  width: @grid-base * 20;
  min-width: @grid-base * 20;
  height: @grid-base * 20;
  margin-left: @job-card-logo-indent;
  display: flex;
  align-items: center;
  align-self: flex-end;
}

.companyLogo {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

.highlight {
  font-weight: @sk-bold;
}
