@import (reference) "~seek-asia-style-guide/theme";

.root {
    width: 100%;
    margin-bottom: 0;
    border-style: solid;
    border-bottom-width: 1px;
    border-color: @saGrey4;
}

.company {
    padding-bottom: 0;
    color: @saGrey1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.greyLabel {
    padding: 0 5px;
    margin-right: 5px;
    background-color: @saGrey5;
    color: @saGrey2;
}

.classifiedLabel {
    &:extend(.greyLabel);
}

.confidentialLabel {
    &:extend(.greyLabel);
}

.featuredLabel {
    padding: 0 5px;
    margin-right: 5px;
    background-color: @panelPink;
    color: @saWhite;
}

.positionTitle {
    color: @linkBlue;
    font-size: 16px !important;
    line-height: 16px !important;
    padding-bottom: 0;
}

.sellingPoints {
    list-style: disc;
    padding-left:16px;
    color: @saGrey2;

    & span {
        line-height: 16px !important;
        padding-bottom: 0;
    }
}

.jobDescriptionSection, .sellingPointsSection {
    padding-top: 0;
}

.bodyDescriptionText {
    line-height: 14px !important;
    color: @saGrey3; 
    padding-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.footerSection {
    padding-top: 0;
    display: flex;
    justify-content: space-between;
}

.footerLeft {
    flex-basis: auto;
    overflow: hidden;
}

.jobInfo {    
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    span{
        vertical-align: middle;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        color: @saGrey1;
        line-height: 16px;
    }
}

.postingDuration { 
    padding-bottom: 3px;
    span {
        color: @saGrey3;
    }
}

.companyLogoWrapper {
    width: 76px;
    min-width: 76px;
    height: 64px;
    margin-left: 15px;
    border: 1px solid @saGrey4;
    display: flex;
    align-items: center;
    align-self: flex-end;
}

.companyLogo {
    width: 100%;
}