@import (reference) "~seek-style-guide/theme";

.logo {
  height: (@grid-row-height * 14);
  display: flex;
  align-items: center;
}

.title {
  .touchableText(@hero-type-scale);
  font-weight: 300;
  position: relative;
  top: -5px;
  margin-left: 18px;
}
