@import (reference) "~seek-style-guide/theme";

@iconSize: (@grid-row-height * 4);

.root {
  position: relative;
  margin-top: (@grid-row-height * 5);
  justify-content: space-between;
  width: 100%;
  display: none;
  .aboveSmallDevice({
    display: flex;
  })
}

.icon {
  height: @iconSize;
}

.iconSvg {
  fill: @sk-highlight;
  width: @iconSize;
  height: @iconSize;
}
