<!DOCTYPE html>
<html lang="en">
<head>
  <base href="<%- baseHref %>">
  <meta charset="utf-8">
  <title>SEEK Style Guide</title>
  <meta name="description" content="Living style guide containing the building blocks and design principles for SEEK web applications.">
  <meta name="author" content="SEEK">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <style type="text/css"><%- criticalCss %></style>
</head>
<body>
  <div id="app"><%- html %></div>
  <link rel="stylesheet" href="app.css" />
  <script src="index.js"></script>
</body>
</html>
