@import (reference) "~seek-asia-style-guide/theme";

.root {
  width: 100%;
  background: @saWhite;
  clear: both;
}

.container {
  background: @saWhite;
  position: relative;
  -webkit-font-smoothing: auto;
  margin: 0 auto;
  min-height: @grid-row-height * 12;
  clear: both;
}

.toggle {
  position: absolute;
  top: @grid-row-height * 3;
  left: @grid-gutter-width;
  padding: 0;
  width: @grid-base * 6;
  height: @grid-base * 6;
  border: none;
  background: none;
  cursor: pointer;
  color: @jsBlue;
}
