@import (reference) "~seek-style-guide/theme";

:global {
  #app {
    height: 100%;
    padding-bottom: @grid-row-height * 4;
  }
}

.root {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  > * {
    flex: 1 0 100%;
  }
}
