@import (reference) "~seek-style-guide/theme";

.header {
  background: #3f51b5;
  color: @sk-white;
}

.photo {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  line-height: 100px !important;
  text-align: center;
  background: #fbfbfb;
  color: #a8a8a8;
  font-weight: 200;
  border: 1px solid #fff;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,.75);
}

.cardHeader {
  background: @sk-gray-lightest;
  text-align: right;
  padding-top: 0;
  padding-bottom: 0;

  @media only screen and (max-width: 740px) {
    display: none;
  }
}

.marketing {
  .aboveSmallDevice({
    border: 1px solid @sk-gray-medium;
  })
}

.fullWidthTextField {
  width: 100%;
}

.activityPanel {
  .aboveSmallDevice({
    padding-top: @grid-row-height;
  })
}

.activityMobileCustom {
  @media only screen and (max-width: 740px) {
    border-top: 1px solid @sk-gray-medium;
    border-bottom: 1px solid @sk-gray-medium;
    margin: 0 -@grid-gutter-width;
    padding: 0 @grid-gutter-width;

    div {
      line-height: (@grid-row-height * 3);
    }
  }

  .aboveSmallDevice({
    padding-top: @grid-row-height;
  })
}

.touchable {
  .touchableText(@standard-type-scale);
}

.borderBottom {
  box-shadow: inset 0 -1px 0 0 @sk-gray-medium;
}
