@import (reference) "~seek-style-guide/theme";

.heading {
  .headlineText();
}

.content {
  margin-top: (@grid-row-height * 4);
}

.wrapper {
  margin-bottom: (@grid-row-height * 4);
}

.subheading {
  .subheadingText();
  margin-bottom: @grid-row-height;
}

.iconSvg {
  fill: @sk-white;
  margin-right: 7px;
}
