@import (reference) "~seek-style-guide/theme";

.content {
  position: relative;
  display: block;
  word-break: break-word;
  white-space: pre-wrap;
}

.fadeOut {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
  position: absolute;
  height: (@row-height * 5);
  width: 100%;
  bottom: 0;
}

.chevron {
  margin-left: 5px;
}