@import (reference) "~seek-style-guide/theme";

.headerBlock {
  background: @sk-blue;
}

.fixedHeaderBlock {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.logoLink {
  display: inline-block;
  position: relative;
  left: -3px;
  top: -2px;
}

.logo {
  width: 84px;
  height: 33px;
  position: relative;
  top: 5px;
  margin-bottom: 1px;
}

.title {
  .headingText();

  text-transform: lowercase;
  position: absolute;
  color: @sk-white;
  text-decoration: none;
  top: -2px;
  left: 91px;
  width: 150px;
}

.sectionContent {
  position: relative;
}

.hamburger {
  position: absolute;
  right: 0;
  top: 0;
}

.hamburgerText {
  overflow: hidden;
  width: 0;
  height: 0;
  text-indent: 999px;
  position: absolute;
}

.checkbox {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.bars {
  display: block;
  cursor: pointer;
  width: @gutter-width * 2.5;
  height: @row-height * 6;
  position: relative;
  transform-origin: 100% 50%;
  transform: scale(0.7);
}

.bar() {
  height: @row-height;
  width: 100%;
  background: @sk-white;
  position: absolute;
  transition: all 0.1s ease;
}

.bar1 {
  .bar();
  top: 0;
  .checkbox:checked ~ .bars & {
    transform: translateY(15px) rotate(45deg);
  }
}

.bar2 {
  .bar();
  top: 50%;
  margin-top: @row-height * -0.5;
  .checkbox:checked ~ .bars & {
    opacity: 0;
  }
}

.bar3 {
  .bar();
  bottom: 0;
  .checkbox:checked ~ .bars & {
    transform: translateY(-15px) rotate(-45deg);
  }
}

.menu {
  background: @sk-blue;
  color: @sk-white;
  position: fixed;
  z-index: 10;
  top: @row-height * 12;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: @row-height * 15;
  overflow: auto;
  display: none;

  .checkbox:checked ~ & {
    display: block;
  }
}

.link {
  color: white;
  text-decoration: none;
  display: inline-block;
  &:hover {
    box-shadow: inset 0 -2px 0 @sk-white;
  }
  @media @desktop {
    margin-bottom: @row-height;
  }
}
