@import (reference) "~seek-style-guide/theme";

.root {
  width: (@grid-gutter-width * 13);
}

.list {
  margin: 0;
  padding-left: @grid-gutter-width;
}

.link {
  .touchableText(@subheading-type-scale);
  display: inline-block;
  width: 100%;
}
