@import (reference) "~seek-style-guide/theme";

.root {
  display: inline-block;
  position: relative;
}

.input {
  &:last-child {
    margin-bottom: @grid-row-height * 3;
  }

  .noMarginBottom & {
    margin-bottom: 0;
  }
}

.label {
  .standardText();
  display: inline-block;
  margin-bottom: @grid-row-height;
}

.messageIcon {
  position: relative;
  top: 2px;
  margin-right: 4px;
}

.messageIconSvg {
  width: 14px;
  height: 14px;
  fill: currentColor;
}
