@import (reference) "~seek-style-guide/theme";

.root {
  display: inline-block;
  position: relative;
}

.input {
  &:last-child {
    margin-bottom: @grid-row-height * 3;
  }
}

.label {
  .standardText();
  display: inline-block;
  margin-bottom: @grid-row-height;
}
