@import (reference) "~seek-style-guide/theme";

:global {
  @import "./reset";
}

html {
  background-color: @sk-background;
  min-height: 100%;
}

.root {
  .provider();
}

.fullScreen {
  height: 100%;
}
